body  {
  display: flex;
  flex-direction: column;
  align-items:center;
}

header {
  width: 100%;
  background-color: #474747;
  display: flex;
  justify-content: center;
}

nav {
  width: 960px;
  display: flex;
  justify-content: space-between;
}

header p {
  margin: 15px 0;
}

div {
  width: 153px;
  height: 70px;
  background-color: #949494;
  margin: 15px 0;
  text-align: center;
  line-height: 70px;
}

section {
  width: 960px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  justify-content: space-between;
  margin: 30px 0;
}

section p {
  background-color: #949494;
  width: 300px;
  height: 375px;
}

figure {
  width: 480px; 
  height: 400px;
  background-color: #949494;
}

article {
  width: 480px; 
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-items: left;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

h2 {
  font-size: 22px;
  font-style: normal;
}

figcaption {
  overflow: scroll;
  margin-bottom: 30px;
  line-height: 20px;
}

button {
  height: 60px;
  width: 180px;
  color: white;
  font-weight: bold;
  background-color: black;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  transition-delay: .35s;
}

footer {
  height: 125px;
  width: 100%;
  background-color: #474747;
}